.heading {
  color: darkblue;
  font-size: 35px;
  text-align: center;
  text-shadow: 5px 5px 5px skyblue;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  background: rgb(239, 235, 190);
  border-radius: 10px;
  border-left: 4px solid darkblue;
  padding: 10px;
  max-width: 350px;
  text-align: center;
  color: darkcyan;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
}

.card img {
  border-radius: 50%;
}

.card h2 {
  color: darkorchid;
}

.card:not(:first-child) {
  margin-left: -35px;
}
.card:not(:last-child):hover,
.card:not(:last-child):focus-within {
  transform: translateY(-20px);
  ~ .card {
    transform: translateX(25px);
  }
}
