.circle {
    width: 300px;
    height: 300px;
    border: 10px solid purple;
    border-radius: 50%;
}

.circle:hover {
background-image: url("https://i.pinimg.com/originals/3f/76/18/3f76181738c6b8822876305b5c2eb7ef.jpg");
    background-size: cover;
    background-position: center;
}