.menu {
  background-color: rgb(158, 158, 206);
  width: 32%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px aliceblue, -10px -10px 10px azure;
}

.menu button {
  width: 200px;
  height: 50px;
  margin: 20px;
  border: 0px;
  border-radius: 200px;
  background-color: antiquewhite;
  color: teal;
  font-size: 30px;
  text-shadow: 2px 2px 5px cadetblue;
}

.menu button:hover {
  background-color: lightcoral;
  cursor: pointer;
  color: wheat;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  width: 450px;
  height: 500px;
  background-color: papayawhip;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgb(190, 152, 190);
  position: relative;
}

.card-content {
  text-align: center;
}

.card h3 {
  font-size: 30px;
  margin: 10px;
  color: purple;
}

.card p {
  color: crimson;
  text-align: justify;
  padding: 15px;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 20px;
}

.skills, .tags {
  list-style-type: none;
  float: left;
}

.skills li, .tags li {
  display: inline;
  background-color: aliceblue;
  margin: 5px;
  padding: 5px;
}

.tags {
    position: absolute;
    bottom: 60px;
}

.card-footer span {
  color: rgb(4, 81, 4);
}

.card-footer span:nth-child(2) {
  float: right;
}

.card:hover {
  cursor: default;
  transform: scale(1.05, 1.05);
}
